/htm/
/doc/GAPROOT
/doc/manual.aux
/doc/manual.bbl
/doc/manual.blg
/doc/manual.dvi
/doc/manual.example-2.tst
/doc/manual.idx
/doc/manual.ilg
/doc/manual.ind
/doc/manual.lab
/doc/manual.log
/doc/manual.pdf
/doc/manual.toc
